@import "./theme/fonts";
@import "./theme/theme";



.cards {
  * {
    font-family: "Nunito Sans";
    color: $text_color;
  }
  width: 100%;

  .profile {
    @extend .box;

    .avatar {
      width: 120px;
      height: 120px;
      margin-right: 20px;
      box-shadow: $light_box_shadow;
    }
    .intro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;

      .description {
        padding-left: 30px;
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 10px;
        }
        p:first-of-type {
          font-style: normal;
          font-weight: 400;
          font-size: 1.065rem;
          line-height: 10px;

          span {
            display: inline-block;
            margin: 0 5px;
          }
        }
        p:last-of-type {
          font-style: normal;
          font-weight: 300;
          font-size: 1rem;
          line-height: 14px;

          span {
            display: inline-block;
            font-weight: 600;
            font-size: 1rem;
            color: $orange;
            margin-left: 5px;
          }
        }
      }
    }
    .info {
      width: 100%;
      padding: 0 10px 20px 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        margin: 0;
        line-height: 1.3rem;
        text-align: center;
      }
    }
    .benefits {
      h3 {
        text-transform: uppercase;
        margin-bottom: 0;
      }
      small {
        width: 100%;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        display: block;
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .avatar {
          margin-top: 20px;
          width: 55px;
          height: 55px;
          background-color: white;
          cursor: pointer;
          transition: all 0.2s ease;

          svg {
            fill: $orange !important;
          }
          
          &:hover {
            background-color: $orange;
            svg {
              fill: white !important;
            }
          }
        }
      }
    }
  }

  .card {
    border-radius: 10px;
    border: 1px solid $paleGray;
  }

  .cta {
    @extend .outlined-fullwidth-button;
  }
}

.whitedivider {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.tickets {
  @media only screen and (max-width: 576px) {
    margin: 20px 0;
  }
  @extend .box;
  margin-left: 20px;

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      @extend .center-space-between;

      &:first-of-type {
        padding-bottom: 15px;
      }
      &:not(:first-of-type) {
        padding: 15px 0;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }
      a {
        border-radius: 4px;
        padding: 10px 15px;
        color: $orange;
        border: 1px solid #ccc;
        transition: all 0.2s ease;

        &:hover {
          color: white;
        background: $orange;
        }
        
      }
    }
  }
  .description {
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
      display: inline-block;
    }
    small {
      display: inline-block;
      margin-left: 5px;

      &:first-of-type {
        color: green;
      }
    }
  }
  .actions {
    @extend .center-space-between;

    button {
      margin-top: 13px;

      &:first-of-type {
        margin-right: 15px;
      }
    }
  }
}

.dashboardbottom {
  width: 100%;

  ul {
    @extend .center-center;
    width: 100%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    li {
      margin: 10px;
    }
    li span{
      @extend .center-center-column;
      width: 170px;
      height: 170px;
      border: 1px solid $orange;
      border-radius: 8px;
      font-size: 0.975rem;
      padding: 0 20px;
      text-align: center;
      line-height: normal;
      transition: all 0.2s ease;
      cursor: pointer;
      img {
        width: 50px;
        margin-bottom: 20px;
      }

      &:hover {
        background: $orange;
        color: white;

        img {
          filter: brightness(0) invert(1);
        }
      }
      @media only screen and (max-width: 576px){
        font-size: 1.5rem;
      }
    }
  }
}
