html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;

  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}

* {
  font-family: "Nunito Sans";
  color: #58595b;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
}
